{% extends 'base.html.twig' %}

{% block title %}Teebblog{% endblock %}

{% block body %}
    <h1>Teebblog List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
                <th>Body</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>PostImage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
{#                {{ dump(post) }}#}
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.summary }}</td>
                <td>{{ post.body|raw }}</td>
                <td>{{ post.status }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if post.postImage is not null %}
                    <img src={{ asset(post.postImage, 'file_upload') }}>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
