{% extends 'base.html.twig' %}

{% block title %}Teebblog{% endblock %}

{% block content %}

    <h1 class="my-4">{{ 'Teebblog List'|trans }}</h1>

    <!-- Blog Post -->
    {% for post in paginator %}
    <div class="card mb-4">
        {% if post.postImage is not null %}
            <img class="card-img-top" src={{ asset(post.postImage, 'file_upload') }}  alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.summary }}</p>
            <a href="{{ path('post_show', {'id1': post.id}) }}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
            {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
            <a href="#">Start Bootstrap</a>
        </div>
    </div>
    {% else %}
        <h1>暂时没有任何文章。</h1>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        {% if page - 1 > 0 %}
        <li class="page-item">
            <a class="page-link" href="{{ path('post_index', {'page': page -1}) }}">&larr; Older</a>
        </li>
        {% endif %}
        {% if page + 1 <= max_page %}
        <li class="page-item">
            <a class="page-link" href="{{ path('post_index', {'page': page + 1}) }}">Newer &rarr;</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
