{% extends 'base.html.twig' %}
{% import 'marco.html.twig' as macros %}
{% block title %}Post{% endblock %}

{% block content %}
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }} mt-4 alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <!-- Title -->
    <h1 class="mt-4">{{ post.title }}</h1>

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">Start Bootstrap</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>

    <hr>

    <!-- Preview Image -->
    {% if post.postImage is not null %}
        <img  class="img-fluid rounded" alt="{{ post.title }}" src={{ asset(post.postImage, 'file_upload') }}>
    {% endif %}

    <hr>

    <!-- Post Content -->
    {{ post.body|raw }}
    <hr>

    <!-- Comments Form -->
{#    {% if app.user %}#}
    {% if is_granted('ROLE_USER') %}
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            {#    {{ form(comment_form) }}#}
            {{ form_start(comment_form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(comment_form) }}
            </div>

            {{ form_row(comment_form.author) }}
            {{ form_row(comment_form.email) }}
            {{ form_row(comment_form.message) }}
{#            <button type="submit">提交</button>#}
            {{ form_end(comment_form) }}
        </div>
    </div>
    {% else %}
        {{ 'login_for_comment'|trans({'%login_path%': path('app_login')})|raw }}
    {% endif %}

    <!-- Single Comment -->
    {% for comment in pagination %}
        {{ macros.show_comments(comment, post) }}
    {% endfor %}

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <!-- Comment with nested comments -->
{#    <div class="media mb-4">#}
{#        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#        <div class="media-body">#}
{#            <h5 class="mt-0">Commenter Name</h5>#}
{#            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}

{#            <div class="media mt-4">#}
{#                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                    <h5 class="mt-0">Commenter Name</h5>#}
{#                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                </div>#}
{#            </div>#}

{#            <div class="media mt-4">#}
{#                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                    <h5 class="mt-0">Commenter Name</h5>#}
{#                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}
{% endblock %}
