{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block content %}

    <!-- Title -->
    <h1 class="mt-4">{{ post.title }}</h1>

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">Start Bootstrap</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</p>

    <hr>

    <!-- Preview Image -->
    {% if post.postImage is not null %}
        <img  class="img-fluid rounded" alt="{{ post.title }}" src={{ asset(post.postImage, 'file_upload') }}>
    {% endif %}

    <hr>

    <!-- Post Content -->
    {{ post.body|raw }}
    <hr>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            {#    {{ form(comment_form) }}#}
            {{ form_start(comment_form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(comment_form) }}
            </div>

            {{ form_row(comment_form.author) }}
            {{ form_row(comment_form.email) }}
            {{ form_row(comment_form.message) }}
{#            <button type="submit">提交</button>#}
            {{ form_end(comment_form) }}
        </div>
    </div>

    <!-- Single Comment -->
    {% for comment in post.comments %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.author }}</h5>
            {{ comment.message }}
            <button class="btn btn-sm btn-link js-reply-comment-btn" data-post-id="{{ post.id }}" data-parent-id="{{ comment.id }}">回复</button>
        </div>
    </div>
    {% endfor %}

    <!-- Comment with nested comments -->
{#    <div class="media mb-4">#}
{#        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#        <div class="media-body">#}
{#            <h5 class="mt-0">Commenter Name</h5>#}
{#            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}

{#            <div class="media mt-4">#}
{#                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                    <h5 class="mt-0">Commenter Name</h5>#}
{#                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                </div>#}
{#            </div>#}

{#            <div class="media mt-4">#}
{#                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">#}
{#                <div class="media-body">#}
{#                    <h5 class="mt-0">Commenter Name</h5>#}
{#                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
{#                </div>#}
{#            </div>#}

{#        </div>#}
{#    </div>#}
{% endblock %}
